<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
      <h1 class="mt-5 text-left">PRODUTOS</h1>
    </div>

    <div class="card-body">
        <ul class="nav flex-column">
            <li class="nav-item border border-secondary rounded">
              <a class="nav-link" href="#">Categoria 1</a>
            </li>
            <li class="nav-item border border-secondary rounded">
              <a class="nav-link" href="#">Categoria 2</a>
            </li>
            <li class="nav-item border border-secondary rounded">
              <a class="nav-link" href="#">Categoria 3</a>
            </li>

          </ul>
  
      
  
    </div>
</div>